name: Ola, mundo

on: 
  push:
    branches:
      - main
      
jobs: 
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código-fonte
        uses: actions/checkout@v2
      
      - name: imprimir ola mundo
        run: echo "Olá mundo"
        
      - name: Enviar mensagem ao tomas 
        run: curl https://gatewayapi.com/rest/mtsms?message=Misael+Novo+Commit&recipients.0.msisdn=+244957848091&sender=tenda&token=pPsQUeJqQcaRH5vdAj2fs7NxqSLSVNOhGh5VRFbz16ovRUSWvwGp-flEBGIInimC&encoding=UCS2
      
    
  
